@page "/Simulacra"

<PageTitle>Simulacra</PageTitle>

<h3>SIMULACRA</h3>

<MudText>
    Simulacra (aka Mimics) are the player's representation of the characters found in Tower of Fantasy. 
    They have an associated weapon and an optional passive effect. 
    Their associated matrices must be obtained separately.
</MudText>

<h2>SSR SIMULACRA</h2>
<MudCard>
    <MudCardContent>
        <MudText>
            Fiona
        </MudText>
    </MudCardContent>
</MudCard>

<h2>SR SIMULACRA</h2>

@code {

}
